body{
    font-family: 'Source Sans Pro',sans-serif;
}

.Topbar{
    background-color: black;
    padding: 5px 2px 5px;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.Topbar > img{

    width: 150px;

}
.MainContainer{
    padding: 4% 20% ;
    margin-top:32px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    /* grid-template-columns: 30% 70%;
    justify-content: space-between; */
     /* display: flex; */
    align-items: center;
    justify-content: flex-start; 
}
.ProductPreview{
    width : 50%;
   
}

.ProductPreview > img{
    width: 100%;
}
.ProductData{
    width: 60%;
    
    
}
.ProductTitle{
    width: 100%;
    font-size: 44px;
    font-weight:600 ;
    margin-top: 0;
    margin-bottom: 16;
    

}
.ProductDescription{
    font-size: 14px;
    color: black;
   
    
}
