body{
    font-family: 'Source Sans Pro',sans-serif;
}


.MainContainer{
    padding: 4% 20% ;
    margin-top:32px;
    box-sizing: border-box;
    width: 100%;
    min-width: 800px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.ProductPreview{
    
    width : 60%;
    position: relative;
    
    
   
}



.ProductData{
    width: 60%; 
   
     

}

